@{
    ViewData["Title"] = "Invalid QR";
    
    Layout = "~/Views/Shared/_TechnicianLayout.cshtml";

}

<div class="text-center mt-5">
    <h2 class="text-danger">❌ QR Invalid or Expired</h2>

    <p>
        This QR code is no longer valid.<br />
        Please contact support or technician.
    </p>

    <a href="/CustomerLogin/Login" class="btn btn-primary mt-3">
        Go to Login
    </a>
</div>